node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.output
.wrangler
.vinxi
__unconfig*
todos.json
/scripts
/.agents/skills
/.claude/skills
/TODO.md
/TODO_UI.md
/skills-lock.json
/todoUI.md
/todo
