.speech-bubble {
    position: relative;
    background: #00aabb;
    border-radius: 0.4em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #00aabb;
    border-top: 0;
    margin-left: -20px;
    margin-top: -10px;
}
